body {
    margin: 0px;
 
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.container > p:nth-child(1) {
    font-size: 4rem;
}
.container > p:nth-child(2) {
    font-size: 3rem;
}

button {
    font-size: 2rem;
}