body {
    margin: 0px;
}

.container > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;    
}




.title {
    font-size: 4rem;
}
.container > div >  p:nth-child(2) {
    font-size: 3rem;
}

button {
    font-size: 2rem;
    padding: 5px;
    border: 4px dotted black;
    border-radius: 10px;
}